@import 'config';
@import 'menu';


*{ //asterisk references everything 
    box-sizing: border-box;
}


body{
    @include background;
    background: $primary-color;
    color-scheme: $secondary-color, $primary-color;
    color: setTextColor($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}

// Headings
h1, h2,h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{ //we specify what is it modifying

        font-size: 6rem; //rem is kindof multiplier
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.05rem 0.1rem;
        background: rgba(lighten($primary-color, 2), 0);

    }
}

a{
    color: #fff;
    text-decoration: none;

}

header{
    position: fixed; //always in the same place
    z-index: 2; // the biggest the number the closest to you that it is
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    height: 100%;//to have the footer completly in the bottom we should have calc(100vh-60px) 60px is the height of the footer

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh; //vh is like rem but for vertical height
        }
    }

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut()

            }
        }
    }
}

//about me style
.about-info{
    display: grid;
    grid-gap: 30px;
    //how we're going to organize our webpage. This case we'll have 6 areas in which
    //we're going to place different info
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    //as we want 3 columns we have to put 1fr 3times or repeat(3, 1fr), it's the same
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        size: 25px 25px;
      }

    .bio{
        grid-area: bio;
    }
    
    .job-1{
        grid-area: job1;
    }
    .job-2{
        grid-area: job2;
    }
    .job-3{
        grid-area: job3;
    }
    
    .job{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}


//So we have a sticky footer
#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color:  set-text-color($primary-color);
    height: 60px;
}
@import 'mobile';
